@font-face {
    font-family: 'calla';
    src: url('/fonts/calla.ttf?haemav') format('truetype'), url('/fonts/calla.woff?haemav') format('woff'), url('/fonts/calla.svg?haemav#calla') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ca {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'calla' !important;
    position: relative;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ca-left-arrow:before {
    content: "\e903";
}

.ca-advertisement:before {
    content: "\e909";
}

.ca-social:before {
    content: "\e90b";
}

.ca-digital-pr:before {
    content: "\e90c";
}

.ca-slide-arrow-left:before {
    content: "\e90d";
}

.ca-slide-arrow-right:before {
    content: "\e91f";
}

.ca-cube:before {
    content: "\e900";
}

.ca-share:before {
    content: "\e901";
}

.ca-search:before {
    content: "\e902";
}

.ca-reply:before {
    content: "\e904";
}

.ca-plus:before {
    content: "\e905";
}

.ca-3-lines-left:before {
    content: "\e906";
}

.ca-date:before {
    content: "\e907";
}

.ca-comment:before {
    content: "\e908";
}

.ca-author:before {
    content: "\e90a";
}

.ca-ttt:before {
    content: "\e955";
}

.ca-line:after {
    content: "\e90e";
    color: #202121;
}

.ca-advertising:before {
    content: "\e912";
}

.ca-branding-arrow:before {
    content: "\e913";
}

.ca-branding:before {
    content: "\e914";
}

.ca-btn-line:before {
    content: "\e947";
}

.ca-consultation:before {
    content: "\e948";
}

.ca-users:before {
    content: "\e949";
}

.ca-development:before {
    content: "\e94a";
}

.ca-discuss:before {
    content: "\e94b";
}

.ca-heading-left:after {
    content: "\e94c";
    font-size: 7px;
}

.ca-heading-center:after {
    content: "\e94d";
    font-size: 65px;
    line-height: 0;
    color: #202121;
}

.ca-arrow-down:before {
    content: "\e94e";
    
}

.ca-mail:before {
    content: "\e94f";
}

.ca-email:before {
    content: "\e916";
}

.ca-experience:before {
    content: "\e90f";
}

.ca-facebook:before {
    content: "\e910";
}

.ca-google-plus:before {
    content: "\e911";
}

.ca-instagram:before {
    content: "\e915";
}

.ca-right-arrow:before {
    content: "\e950";
}

.ca-location-marker:before {
    content: "\e951";
}

.ca-marker-one:before {
    content: "\e952";
}

.ca-marker-two:before {
    content: "\e953";
}

.ca-marketing:before {
    content: "\e954";
}

.ca-phone-one:before {
    content: "\e917";
}

.ca-phone-two:before {
    content: "\e918";
}

.ca-photo:before {
    content: "\e919";
}

.ca-pinterest:before {
    content: "\e91a";
}

.ca-play:before {
    content: "\e91d";
}

.ca-production:before {
    content: "\e91e";
}

.ca-send:before {
    content: "\e922";
}

.ca-seo:before {
    content: "\e923";
}

.ca-support:before {
    content: "\e924";
}

.ca-twitter:before {
    content: "\e925";
}

.ca-ui:before {
    content: "\e926";
}

.ca-web-design:before {
    content: "\e921";
}

.ca-work:before {
    content: "\e943";
}

.ca-user-check:before {
    content: "\e944";
}

.ca-downtown:before {
    content: "\e945";
}

.ca-signature:before {
    content: "\e946";
}

.ca-signature-two:before {
    content: "\e920";
}

